button {
    width: 42px;
    height: 42px;
    padding: 3px;
}

.calcBody {
    display: flex;
    border: 4px solid black;
    border-radius: 6px;
    width: 200px;
    height: 275px;
    box-sizing: border-box;
    flex-direction: column;
}

.components {
    display: flex;
    box-sizing: border-box;
    padding: 0px;
    margin: 2px;
}

.displayDiv {
    display: flex;
    margin: 12px 4px;
    border: 1px solid black;
    justify-content: flex-end;
}

#display {
    align-self:flex-end;
    padding: 6px;
    font-size: 35px;
    font-weight: bolder;
    margin: 0px;
}

.numbersBody {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    align-items: center;
}

.number {
    margin: 2px;
}

.operationsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    margin: 0px;
}

.operation {
    flex: 1;
    margin: 2px;
}